table{
border: 1px solid palevioletred;
margin-right: auto;
margin-left: auto;
tr{
border: 1px solid palevioletred;  
}

th{
border: 1px solid palevioletred;
}

td{
    border: 1px solid palevioletred;
}
}